!src/leveldb/Makefile
.*.swp
.DS_Store
.PalyanytsyaCoin
.qmake.stash
*.*~*
*.bak
*.o
*.orig
*.patch
*.pro.user
*.qm
*.rej
/.idea/
/.vscode/
/docker
/doc
/res
/wallet
#compilation and Qt preprocessor part
#mac specific
#qt creator
#resources cpp
build
Makefile
PalyanytsyaCoin-qt
PalyanytsyaCoin-Qt.app
PalyanytsyaCoin-Qt.dmg
palyanytsyacoind
qrc_*.cpp
src/*.exe
src/build.h
src/palyanytsyacoin
